{% extends 'shopping_list/basic.layout.html' %}
{% from 'form.html' import show_form %}

{% block bread_crump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{{ url_for('ShoppingList.index') }}">{{ current_user.username }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a>ShoppingLists</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">Shopping Lists <small><a href="?refresh=1">Refresh</a></small></div>
        <div class="card-bod">
            <div class="mt-3 ml-3">
                {{ show_form(form,class='form-inline form-inline-elements') }}
            </div>

            <hr/>
            <div class="m-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th></th>
                        <th scope="col">Refresh TimeStamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shopping_list in shopping_lists %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <i class="fas fa-trash"></i>
                            </td>
                            <td>
                                <a href="{{ url_for('ShoppingList.show',item_id=shopping_list.id) }}">{{ shopping_list.name }}</a>
                            </td>
                            <td>{{ shopping_list.refresh_data | df }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
