{% extends 'shopping_list/basic.layout.html' %}

{% block bread_crump %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    href="{{ url_for('ShoppingList.index') }}">{{ current_user.username }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('ShoppingList.index') }}">ShoppingLists</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ shopping_list.name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">{{ shopping_list.name }} <small><a href="?refresh=1">Refresh</a></small></div>
        <div class="card-bod">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Name</th>
                    <th scope="col">GTin</th>
                </tr>
                </thead>
                <tbody>
                {% for product in shopping_list.products %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ product.amount or 0 }}</td>
                        <td>{{ product.name or 'No Name' }}</td>
                        <td>{{ product.gtin or '' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
